<meta charset="utf-8">
<div class="card">
	<div class="card-header">
		<div class="card-title row">
			<h5 class="col-9">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
					fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
				  <path fill-rule="evenodd"
						d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
				</svg>
				DANH SÁCH GIÁ BÁN VÉ
			</h5>
			<h5 class="form-inline my-2 my-lg-0 col-3">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Tìm kiếm" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
			</h5>
		</div>
	</div>
	<div class="card-body">
		<table class="table ">
			<thead>
				<tr>
					<th rowspan="2">ID</th>
					<th rowspan="2">Giá bán</th>
					<th rowspan="2">Ngày tạo</th>
					<th rowspan="2">Hạn sử dụng</th>
					<th rowspan="2">Trạng thái</th>
					<th rowspan="2"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in priceShows">
					<th>{{item.id}}</th>
					<th>{{item.price}}</th>
					<td>{{item.createDate|date:'dd/MM/yyyy'}}</td>
					<td>{{item.expiry|date:'dd/MM/yyyy'}}</td>
					<td>{{item.activity?'Hoạt động':'Ngưng hoạt động'
						Ä‘á»™ng'}}</td>
					<td><button ng-click="edit(item)"
							class="btn btn-outline-light border border-primary text-primary font-weight-bold">
							<img alt="" src="/assets/images/file.png"> Xem
						</button></td>
				</tr>
			</tbody>
		</table>
		<div style="float: right;">
			<button type="button"
				class="btn btn-outline-dark border border-primary text-primary font-weight-bold">
				<img alt="" src="/assets/images/left-arrow.png">
			</button>
			<button type="button"
				class="btn btn-outline-dark border border-primary text-primary font-weight-bold">
				<img alt="" src="/assets/images/arrow-left.png">
			</button>
			<button type="button"
				class="btn btn-outline-dark border border-primary text-primary font-weight-bold">
				<img alt="" src="/assets/images/arrow-right.png">
			</button>
			<button type="button"
				class="btn btn-outline-dark border border-primary text-primary font-weight-bold">
				<img alt="" src="/assets/images/right-arrow.png">
			</button>
		</div>
	</div>
	<div class="card-footer">Danh sách giá bán vé</div>
</div>