<div xmlns:th="http://www.thymeleaf.org">
	<!-- footer-66 -->
	<footer class="w3l-footer">
		<section class="footer-inner-main">
			<div class="footer-hny-grids py-5">
				<div class="container py-lg-4">
					<div class="text-txt">
						<div class="right-side">
							<div class="row footer-links">
								<div class="col-md-4 col-sm-6 sub-two-right mt-5">
									<h6>VSCinema</h6>
									<ul>
										<li><a href="#">Giới thiệu</a></li>
										<li><a href="#">Liên hệ</a></li>
										<li><a href="#">Thẻ quà tặng</a></li>
										<li><a href="#">Khuyến mãi</a></li>
										<li><a href="#">Tuyển dụng</a></li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-6 sub-two-right mt-5">
									<h6>Điều khoản sử dụng</h6>
									<ul>
										<li><a href="#">Điều khoản chung</a></li>
										<li><a href="#">Điều khoản giao dịch</a></li>
										<li><a href="#">Chính sách thanh toán</a></li>
										<li><a href="#">Chính sách bảo mật</a></li>
										<li><a href="#">Câu hỏi thường gặp</a></li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-6 sub-two-right mt-5">
									<h6>Chăm sóc khách hàng</h6>
									<ul>
										<li><a href="#">Hotline: 0202222222</a></li>
										<li><a href="#">Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết)</a></li>
										<li><a href="#">Email hỗ trợ: vscinema@gmail.com</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="below-section">
				<div class="container">
					<div class="copyright-footer">
						<div class="columns text-lg-left">
							<p>
								&copy; 2021 Bản quyền thuộc về - <a
									href="#">VS Cinema Việt Nam</a>
							</p>
						</div>
						<ul class="social text-lg-right">
							<li><a href="#facebook"><span class="fa fa-facebook"
									aria-hidden="true"></span></a></li>
							<li><a href="#linkedin"><span class="fa fa-linkedin"
									aria-hidden="true"></span></a></li>
							<li><a href="#twitter"><span class="fa fa-twitter"
									aria-hidden="true"></span></a></li>
							<li><a href="#google"><span class="fa fa-google-plus"
									aria-hidden="true"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<button onclick="topFunction()" id="movetop" title="Go to top">
				<span class="fa fa-arrow-up" aria-hidden="true"></span>
			</button>
		</section>
	</footer>
</div>