<div xmlns:th="http://www.thymeleaf.org">
	<header id="site-header" class="w3l-header fixed-top">
		<nav
			class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
			<div class="container">
				<h1>
					<a class="navbar-brand" ng-click="clear()"><img src="/assets/dist/img/mainlogo.png"> Vina <i class="fa fa-star" style="color:#df0e62"></i> Cinema </a>
				</h1>
				<button class="navbar-toggler collapsed" type="button"
					data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="fa icon-expand fa-bars"></span> <span
						class="fa icon-close fa-times"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"
							th:class="${#strings.equals(title, 'Trang chủ')}?'active':''"><a
							class="nav-link" ng-click="clear()">Trang chủ</a></li> |
						<li class="nav-item active"
							th:class="${#strings.equals(title, 'Trang chủ')}?'active':''"><a
							class="nav-link" href="/food/booking-food">Bắp nước</a></li> |
						<li class="nav-item active"
							th:class="${#strings.equals(title, 'Trang chủ')}?'active':''"><a
							class="nav-link" href="/home/order">Hóa đơn</a></li> |
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbardrop"
							data-toggle="dropdown"> Danh sách phim </a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="dropdown-item nav-link"
									th:href="@{/movie/showing-film}">Phim đang chiếu</a></li>
								<li class="nav-item"><a class="dropdown-item nav-link"
									th:href="@{/movie/comming-soon-film}">Phim sắp chiếu</a></li>
							</ul></li> |

						<li class="nav-item"
							th:if="${#request.isUserInRole('MOD') or #request.isUserInRole('STA')}"><a
							class="nav-link" th:href="@{/admin}">Quản trị viên</a></li>
						<th:block th:unless="${#request.remoteUser}">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/security/signup/form}"><i class="fa fa-key"></i>
									Đăng ký</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/security/login/form}"><i class="fa fa-key"></i>
									Đăng nhập</a></li>
						</th:block>

						<th:block th:if="${#request.remoteUser}">
							<li class="dropdown"><a class="dropdown-toggle"
								data-toggle="dropdown" href="#" style="color: lightgreen">[[${#request.remoteUser}]]
									<i class="fa fa-chevron-down" aria-hidden="true"></i>
							</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link"
										th:href="@{/security/update/form}">Cập nhật tài khoản</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/security/change/form}">Đổi mật khẩu</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/security/logoff}">Đăng xuất</a></li>
								</ul></li>
						</th:block>
					</ul>
				</div>
			</div>
		</nav>
	</header>
</div>