<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sign Up Page</title>
<link rel="stylesheet" type="text/css" href="/assets/css/change.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style type="text/css">
label, a, h3, button {
	font-family: 'Open Sans', cursive;
}
</style>
</head>
<body ng-app="change-app" ng-controller="change-ctrl">
	<div class="container">
		<br> <br> <br> <br>
		<div class="row">
			<div class="col-lg-10 col-xl-9 mx-auto">
				<div class="card card-signin flex-row my-5 ">
					<div class="card-img-left d-none d-md-flex">
						<!-- Background image for card set in CSS! -->
					</div>
					<div class="card-body">
						<h3 class="text-center">Đổi mật khẩu</h3>
						<form class="form-signin">
							<div class="form-label-group">
								<div id="inputUserame" class="form-control">{{account.username}}</div>
								<label for="inputUserame">Tài khoản</label>
							</div>
							<div class="form-label-group">
								<input type="password" ng-model="oldPassword" id="inputPassword"
									class="form-control" placeholder="Mật khẩu" required> <label
									for="inputPassword">Mật khẩu hiện tại</label>
							</div>

							<div class="form-label-group">
								<input type="password" ng-model="newPassword"
									id="inputNewPassword" class="form-control"
									placeholder="Mật khẩu mới" required> <label
									for="inputNewPassword">Mật khẩu mới</label>
							</div>

							<div class="form-label-group">
								<input type="password" ng-model="confirmPassword"
									id="inputConfirmPassword" class="form-control"
									placeholder="Xác nhận mật khẩu" required> <label
									for="inputConfirmPassword">Xác nhận mật khẩu</label>
							</div>

							<button class="btn btn-lg btn-primary btn-block text-uppercase"
								ng-click="change()">Đổi mật khẩu</button>
							<a class="d-block text-center mt-2 small"
								th:href="@{/security/login/form}">Đăng nhập</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/assets/js/change_password.js"></script>
</body>
</html>