<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Forgot Password Page</title>
<link rel="stylesheet" type="text/css" href="/assets/css/forgot.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style type="text/css">
label, a, h3, button {
	font-family: 'Dancing Script', cursive;
}
</style>
</head>
<body ng-app="forgot-app" ng-controller="forgot-ctrl">
	<div class="container">
		<br> <br> <br> <br> <br> <br>
		<div class="row">
			<div class="col-lg-10 col-xl-9 mx-auto">
				<div class="card card-signin flex-row my-5 ">
					<div class="card-img-left d-none d-md-flex">
						<!-- Background image for card set in CSS! -->
					</div>
					<div class="card-body">
						<h3 class="text-center">Quên Mật Khẩu</h3>
						<br> <br>
						<form class="form-signin">
							<div class="form-label-group">
								<input type="text" ng-model="username" id="inputUsername"
									class="form-control" placeholder="Tài khoản" required>
								<label for="inputUsername">Tài khoản</label>
							</div>

							<div class="form-label-group">
								<input type="email" ng-model="email" id="inputEmail"
									class="form-control" placeholder="Email" required> <label
									for="inputEmail">Email</label>
							</div>

							<button class="btn btn-lg btn-primary btn-block text-uppercase"
								ng-click="forgot()">Quên Mật Khẩu</button>
							<a class="d-block text-center mt-2 small" href="/security/login/form">Đăng
								Nhập</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/assets/js/forgot_password.js"></script>
</body>
</html>