<meta charset="utf-8">
<div class="col-12 chart-height">
	<div id="reportfood" ng-init="reportFood()"></div>
</div>
<div class="panel-header">
	<div class="col-12" style="height: 30rem"></div>
	<div class="panel-title row">

		<div class="col-3 my-2 my-lg-0 ">
			<strong>THỐNG KÊ DOANH THU ĐỒ ĂN</strong>
		</div>
		<div class="form-inline my-2 my-lg-0 col-7">
			<input class="form-control mr-sm-2" type="date" id="startdatefood">
			<input class="form-control mr-sm-2" type="date" id="enddatefood">
			<select class="form-control" ng-change="fillsticketfood()"
				id="status" ng-model="status">
				<option value="" selected>Tất cả trạng thái</option>
				<option value="1">Chưa thanh toán</option>
				<option value="2">Đã thanh toán</option>
			</select>
		</div>
		<div class="form-inline my-2 my-lg-0 col-2">
			<button class="btn btn-success my-2 my-sm-0" type="submit"
				ng-click="fillsticketfood()" style="width: 90px">Lọc</button>
		</div>
	</div>



</div>

<div class="card-body">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th rowspan="2">Mã đơn hàng</th>
				<th rowspan="2">Mã khách hàng</th>
				<th rowspan="2">Ngày đặt hàng</th>
				<th rowspan="2">Tổng tiền</th>
				<th rowspan="2">Trạng thái</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="food in ticketsfood">
				<th scope="row">{{food.id}}</th>
				<td>{{food.order.user.username}}</td>
				<td>{{food.order.createdate | date: 'dd-MM-yyyy'}}</td>
				<td>{{food.order.totalmoney | currency}}</td>
				<td>{{food.order.active ? 'Đã thanh toán':'Chưa duyệt'}}</td>
			</tr>
		</tbody>
	</table>
	<br />
	<div style="float: right;">
		<button type="button"
			class="btn btn-outline-dark border border-primary text-primary font-weight-bold"
			ng-click="pager.first()" title="Trở về trang đầu ?">
			<i class="fas fa-hand-point-left"></i>
		</button>
		<button type="button"
			class="btn btn-outline-dark border border-primary text-primary font-weight-bold"
			ng-click="pager.prev()" title="Lùi về trang trước đó ?">
			<i class="fas fa-arrow-circle-left"></i>
		</button>
		<button type="button"
			class="btn btn-outline-dark border border-primary text-primary font-weight-bold"
			ng-click="pager.next()" title="Tiến lên trang trước đó ?">
			<i class="fas fa-arrow-circle-right"></i>
		</button>
		<button type="button"
			class="btn btn-outline-dark border border-primary text-primary font-weight-bold"
			ng-click="pager.last()" title="Tiến đến trang cuối ?">
			<i class="fas fa-hand-point-right"></i>
		</button>
	</div>
</div>
<div class="card-footer col-12 row">
	<div class="col-3">Tổng danh thu: {{revenue}}</div>
	<div class="col-3">Tổng đơn hàng: {{sumOrder}}</div>
	<div class="col-3">Đơn hàng thanh toán:
		{{ticketsfoodcheckout.length}}</div>
	<div class="col-3">Đơn hàng chưa thanh toán:
		{{ticketsfoodnotcheckout.length}}</div>
</div>
